@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    var template = $"{Configuration.GetSection("URL").GetSection("template").Value}";

    ViewData["Header"] = "User";
    ViewData["HeaderBold"] = "Administration";
    ViewData["Description"] = "Reset your password";
}


<main id="content" role="main" class="main">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Password</a></li>
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Update</a></li>
                        </ol>
                    </nav>

                    <h1 class="page-header-title">Password Update</h1>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- Hero Section -->
        <!-- Card -->
        <div class="card">
            <!-- Header -->
            <div class="card-header">
                Change Password
            </div>
            <!-- End Header -->
            <div class="card-body">
                <div id="passwordSection">
                    <partial name="_StatusMessage" for="StatusMessage" />
                    <form id="changePasswordForm" method="post" class="js-validate">
                        @if (!Html.ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-soft-danger" asp-validation-summary="All" role="alert"></div>
                        }
                        <!-- Form Group -->
                        <div class="row form-group">
                            <label for="currentPasswordLabel" class="col-sm-3 col-form-label input-label">Current password</label>

                            <div class="col-sm-9 js-form-message">
                                <input type="password" asp-for="Input.OldPassword" class="form-control" placeholder="Enter your current password" aria-label="Enter your current password" required data-msg="This field is required."
                                       data-parsley-required="true" data-parsley-required-message="Password does not match." autocomplete="off" value="">
                            </div>
                        </div>
                        <!-- End Form Group -->
                        <!-- Form Group -->
                        <div class="row form-group">
                            <label for="newPassword" class="col-sm-3 col-form-label input-label">New password</label>

                            <div class="col-sm-9 js-form-message">
                                <input id="newPassword" asp-for="Input.NewPassword" type="password" class="js-pwstrength form-control" placeholder="Enter your new password" aria-label="Enter your password" required data-msg="This field is required."
                                       data-parsley-required="true" data-parsley-required-message="Please enter your new password." autocomplete="off" value=""
                                       data-hs-pwstrength-options='{
                                                    "ui": {
                                                    "container": "#changePasswordForm",
                                                    "viewports": {
                                                    "progress": "#passwordStrengthProgress",
                                                    "verdict": "#passwordStrengthVerdict"
                                                    }
                                                    }
                                                    }'>

                                <p id="passwordStrengthVerdict" class="form-text"></p>

                                <div id="passwordStrengthProgress" class="mb-3"></div>

                            </div>
                        </div>
                        <!-- End Form Group -->
                        <!-- Form Group -->
                        <div class="row form-group">
                            <label for="confirmNewPasswordLabel" class="col-sm-3 col-form-label input-label">Confirm new password</label>

                            <div class="col-sm-9">
                                <div class="mb-3  js-form-message">
                                    <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm your password" aria-label="Confirm your password"
                                           data-parsley-required="true" data-parsley-required-message="Password does not match the confirm password." autocomplete="off" required data-rule-equalTo="#newPassword" value="">
                                </div>

                                <h5>Password requirements:</h5>

                                <p class="font-size-sm mb-2">Ensure that these requirements are met:</p>

                                <ul class="font-size-sm">
                                    <li>Minimum 8 characters long - the more, the better</li>
                                    <li>At least one lowercase character</li>
                                    <li>At least one uppercase character</li>
                                    <li>At least one number, symbol, or whitespace character</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Form Group -->

                        <div class="d-flex justify-content-end">
                            <!-- Buttons -->
                            <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-soft-secondary transition-3d-hover mr-2">Cancel</a>
                            <button type="submit" class="btn btn-sm btn-primary transition-3d-hover">Save Password</button>
                            <!-- End Buttons -->
                        </div>
                        <div class="d-flex justify-content-end">
                        </div>
                    </form>
                    <!-- End Form -->

                </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
</main>

@section Scripts {
    <!-- JS Implementing Plugins -->
    <script src="@template/assets/vendor/pwstrength-bootstrap/dist/pwstrength-bootstrap.min.js"></script>
    <!-- JS Front -->
    <script src="@template/assets/js/components/hs.password-strength.js"></script>
    <script src="@template/assets/js/components/hs.validation.js"></script>
    <script src="~/front-dashboard-v1.1/dist/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/front-dashboard-v1.1/src/assets/js/hs.validation.js"></script>
    <script>
        $(document).on('ready', function () {
            // INITIALIZATION OF PASSWORD STRENGTH MODULE
            // =======================================================
            $('.js-pwstrength').each(function () {
                var pwstrength = $.HSCore.components.HSPWStrength.init($(this));
            });

            // INITIALIZATION OF FORM VALIDATION
            // =======================================================
            $('.js-validate').each(function () {
                $.HSCore.components.HSValidation.init($(this));
            });
        });
    </script>
}
