@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_LayoutUserPortal";

}

<div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
    <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
        <!-- Form -->
        <form class="js-validate" novalidate="novalidate" id="form" name="form" method="post">
            <div class="text-center mb-5">
                <h1 class="display-4">Forgot password?</h1>
                <p>Enter the email address you used when you joined and we'll send you instructions to reset your password.</p>
            </div>

            <!-- Form Group -->
            <div class="js-form-message form-group">
                <label class="input-label" for="resetPasswordSrEmail" tabindex="0">Your email</label>

                <input asp-for="Input.Email" type="email" class="form-control form-control-lg" name="email" id="resetPasswordSrEmail" tabindex="1" placeholder="email@address.com" aria-label="email@address.com" required="" data-msg="Please enter a valid email address.">
            </div>
            <!-- End Form Group -->

            <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>

            <div class="text-center mt-2">
                <a class="btn btn-link" asp-page="./Login">
                    <i class="tio-chevron-left"></i> Back to Sign in
                </a>
            </div>
        </form>
        <!-- End Form -->
    </div>
</div>
