@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutUserPortal";
    var template = $"{Configuration.GetSection("URL").GetSection("template").Value}";
}

<div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
    <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
        <!-- Form -->
        <form class="js-validate" id="form" method="post">
            <div class="text-center mb-5">
                <h1 class="display-4">Sign in</h1>
                @*<p>Don't have an account yet? <a asp-page="./ForgotPassword">Sign up here</a></p>*@
            </div>

            <!-- Form Group -->
            <div class="js-form-message form-group registerClass">
                <label class="input-label" for="signupSrEmail">Your email</label>

                <input asp-for="Input.Email" type="email" class="form-control form-control-lg formClass" name="email" id="signupSrEmail" placeholder="Markwilliams@example.com" aria-label="Markwilliams@example.com" required data-msg="Please enter a valid email address.">
            </div>
            <!-- End Form Group -->
            <!-- Form Group -->
            <div class="js-form-message form-group registerClass">
                <label class="input-label" for="signupSrPassword" tabindex="0">
                    <span class="d-flex justify-content-between align-items-center">
                        Password
                        <a class="input-label-secondary" asp-page="./ForgotPassword">Forgot Password?</a>
                    </span>
                </label>

                <div class="input-group input-group-merge">
                    <input asp-for="Input.Password" type="password" class="js-toggle-password form-control form-control-lg formClass" name="password" id="signupSrPassword" placeholder="password" aria-label="Password" required
                           data-msg="Your password is invalid. Please try again."
                           data-hs-toggle-password-options='{
                             "target": "#changePassTarget",
                             "defaultClass": "tio-hidden-outlined",
                             "showClass": "tio-visible-outlined",
                             "classChangeTarget": "#changePassIcon"
                           }'>
                    <div id="changePassTarget" class="input-group-append">
                        <a class="input-group-text" href="javascript:;">
                            <i id="changePassIcon" class="tio-visible-outlined"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Form Group -->
            <div class="d-flex justify-content-center" style="visibility:hidden" id="spinnerRegister">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-lg btn-block btn-primary" id="btnLogin">Login</button>
            <a href="/Identity/Account/Register" class="btn btn-lg btn-block btn-primary" id="btnRegister">Register</a>
        </form>
        <!-- End Form -->
        <div class="js-form-message mt-5" style="color:#ed4c78;font-size:80%;">
            @Html.ValidationSummary()
        </div>
    </div>
</div>
@section Scripts {
<!-- JS Implementing Plugins -->
<script src="@template/assets/js/components/hs.validation.js"></script>
<script src="~/front-dashboard-v1.1/dist/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/front-dashboard-v1.1/src/assets/js/hs.validation.js"></script>
<script>
    $(document).on('ready', function () {
        // INITIALIZATION OF FORM VALIDATION
        // =======================================================
        $('.js-validate').each(function () {
            $.HSCore.components.HSValidation.init($(this));
        });
    });
</script>
<style>
    .validation-summary-errors ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
</style>
<script>
            $("#btnLogin").click(function(){
          const response = $('.registerClass').map(function () {
          var obj = {};
          $(this).find('input.formClass').each(function (i, el) {
                    if (el.value != "") {
                        document.getElementById('spinnerRegister').style.visibility = 'visible';
                    }
          })
          return obj
        }).get()
    })
</script>
<style>
    #btnLogin {
 box-shadow: 3px 4px 0px 0px #899599;
 background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
 background-color:#ededed;
 border-radius:15px;
 border:1px solid #d6bcd6;
 display:inline-block;
 cursor:pointer;
 color:#3a8a9e;
 font-family:Arial;
 font-size:17px;
 padding:7px 25px;
 text-decoration:none;
 text-shadow:0px 1px 0px #e1e2ed;
}
#btnLogin:hover {
 background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
 background-color:#bab1ba;
}
#btnLogin:active {
 position:relative;
 top:1px;
}
</style>

<style>
    #btnRegister {
 box-shadow: 3px 4px 0px 0px #899599;
 background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
 background-color:#ededed;
 border-radius:15px;
 border:1px solid #d6bcd6;
 display:inline-block;
 cursor:pointer;
 color:#3a8a9e;
 font-family:Arial;
 font-size:17px;
 padding:7px 25px;
 text-decoration:none;
 text-shadow:0px 1px 0px #e1e2ed;
}
#btnRegister:hover {
 background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
 background-color:#bab1ba;
}
#btnRegister:active {
 position:relative;
 top:1px;
}
</style>
}
