@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutUserPortal";
    var template = $"{Configuration.GetSection("URL").GetSection("template").Value}";
}

<div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
    <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
        <!-- Form -->
        <form class="js-validate" id="form" method="post">
            <div class="text-center mb-5">
                <h1 class="display-4">Sign in</h1>
                @*<p>Don't have an account yet? <a asp-page="./ForgotPassword">Sign up here</a></p>*@
            </div>

            <!-- Form Group -->
            <div class="js-form-message form-group">
                <label class="input-label" for="signupSrEmail">Your email</label>

                <input asp-for="Input.Email" type="email" class="form-control form-control-lg" name="email" id="signupSrEmail" placeholder="Markwilliams@example.com" aria-label="Markwilliams@example.com" required data-msg="Please enter a valid email address.">
            </div>
            <!-- End Form Group -->
            <!-- Form Group -->
            <div class="js-form-message form-group">
                <label class="input-label" for="signupSrPassword" tabindex="0">
                    <span class="d-flex justify-content-between align-items-center">
                        Password
                        <a class="input-label-secondary" asp-page="./ForgotPassword">Forgot Password?</a>
                    </span>
                </label>

                <div class="input-group input-group-merge">
                    <input asp-for="Input.Password"  type="password" class="js-toggle-password form-control form-control-lg" name="password" id="signupSrPassword" placeholder="password" aria-label="Password" required
                           data-msg="Your password is invalid. Please try again."
                           data-hs-toggle-password-options='{
                             "target": "#changePassTarget",
                             "defaultClass": "tio-hidden-outlined",
                             "showClass": "tio-visible-outlined",
                             "classChangeTarget": "#changePassIcon"
                           }'>
                    <div id="changePassTarget" class="input-group-append">
                        <a class="input-group-text" href="javascript:;">
                            <i id="changePassIcon" class="tio-visible-outlined"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Form Group -->
            <!-- Checkbox -->
            @*<div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox">
                        <label class="custom-control-label text-muted" for="termsCheckbox"> Remember me</label>
                    </div>
                </div>*@
            <!-- End Checkbox -->

            <button type="submit" class="btn btn-lg btn-block btn-primary">Sign in</button>
            <a href="/Identity/Account/Register" class="btn btn-lg btn-block btn-primary">Register</a>
        </form>
        <!-- End Form -->
        <div class="js-form-message mt-5" style="color:#ed4c78;font-size:80%;">
            @Html.ValidationSummary()
        </div>
    </div>
</div>
@section Scripts {
    <!-- JS Implementing Plugins -->
    <script src="@template/assets/js/components/hs.validation.js"></script>
    <script src="~/front-dashboard-v1.1/dist/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/front-dashboard-v1.1/src/assets/js/hs.validation.js"></script>
    <script>
        $(document).on('ready', function () {
            // INITIALIZATION OF FORM VALIDATION
            // =======================================================
            $('.js-validate').each(function () {
                $.HSCore.components.HSValidation.init($(this));
            });
        });
    </script>
    <style>
        .validation-summary-errors ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    </style>
}

@*
    <partial name="_ValidationScriptsPartial" />
    }*@
