@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_LayoutUserPortal";
}

<div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
    <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
        <!-- Form -->
        <form class="js-validate" novalidate="novalidate" id="form" name="form" method="post">
            <div class="text-center mb-5">
                <h1 class="display-4">Reset password?</h1>
                <p>Enter the email address and new password</p>
            </div>

            <div class="js-form-message form-group">
                <label class="input-label" asp-for="Input.Email" tabindex="0">Your email</label>
                <input asp-for="Input.Email" class="form-control" placeholder="Email address" aria-label="Email address" required>
            </div>

            <div class="js-form-message form-group">
                <label class="input-label" asp-for="Input.Password" tabindex="0">New Password <i class="tio-help-outlined text-body ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="The Password must be at least 6 and at max 100 characters long."></i></label>
                <input asp-for="Input.Password" class="form-control" placeholder="********" aria-label="********" required>
            </div>

            <div class="js-form-message form-group">
                <label class="input-label" asp-for="Input.ConfirmPassword" tabindex="0">Confirm password <i class="tio-help-outlined text-body ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="The Password must be at least 6 and at max 100 characters long."></i></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="********" aria-label="********" required>
            </div>

            <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>

            <div class="text-center mt-2">
                <a class="btn btn-link" asp-page="./Login">
                    <i class="tio-chevron-left"></i> Back to Sign in
                </a>
            </div>
            <input asp-for="Input.Code" type="hidden" />
        </form>

        <div class="js-form-message mt-5" style="color:#ed4c78;font-size:80%;">
            @Html.ValidationSummary()
        </div>
        <!-- End Form -->
    </div>
</div>


@*<h1>@ViewData["Title"]</h1>
    <h4>Reset your password.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>*@

@section Scripts {
    <script>
        $(document).ready(function () {
            enableValidation("#form");
        });

    </script>
}
