@page
@model ResetPasswordConfirmationModel

@{

    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_LayoutUserPortal";
}
<div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
    <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
        <div class="text-center">
            <div class="mb-4">
                <img class="avatar avatar-xxl avatar-4by3" src="~/front-dashboard-v1.1/dist/assets/svg/illustrations/click.svg" alt="Image Description">
            </div>

            <h1 class="display-4">Password reset</h1>

            <p class="mb-1">Your password has been reset.</p>

            <div class="mt-4 mb-3">
                <a class="btn btn-primary btn-wide" asp-page="./Login">Continue</a>
            </div>
        </div>
    </div>
</div>